<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="jdbc:mysql://127.6.41.130:3306/BOOKMANAGER"/>
    <property name="com.mysql.jdbc.Driver"/>
    <property name="adminbKxQE5T"/>
    <property name="KaG9hDZVZbil"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>